FORMAT: 1A
HOST: http://broadbean.meteor.com/api

# Exertis Micro-P Jobs Board
API for posting and retrieving Jobs

# Group Job
Job related resources


## Job Collection [/job]
### List Jobs [GET]

This resource has the following attributes

- `id` ...TBD


+ Response 200 (application/hal+json)

        [{"job":{"command":["add"],
        "username":["bobsmith"],
        "password":["p455w0rd"],
        "contact_name":["Bob Smith"],
        "contact_email":["bob@smith.com"],
        "contact_telephone":["020 7987 6900"],
        "contact_url":["www.smith.com"],
        "days_to_advertise":["7"],
        "application_email":["bob.12345.123@smith.aplitrak.com"],
        "application_url":["http://www.url.com/ad.asp?adid=12345123"],
        "job_reference":["abc123"],
        "job_title":"Test Engineer 1390429894480",
        "job_type":["Contract"],
        "job_duration":["6 Months"],
        "job_startdate":["ASAP"],
        "job_skills":["VB, C++, PERL, Java"],
        "job_description":["This is the detailed description"],
        "job_location":["London"],
        "job_industry":["Marketing"],
        "salary_currency":["gbp"],
        "salary_from":["25000"],
        "salary_to":["30000"],
        "salary_per":["annum"],
        "salary_benefits":["Bonus and Pension"],
        "salary":["£25000 - £30000 per annum + Bonus and Pension"],
        "_id":"8sAHXJnbfDhLynqqn"}
        }]

### Create Job [POST]
This resource has the following attributes

- `email` ...TBD

+ Request (application/json)

            { tbd }

        
        
+ Response 201

        {
           "success": true | false,
           "message": "description of outcome or failure"
        }

+ Response 409
        
        {
            "message" : "The platform Fancy Platform already exists. Platform names must be unique"
        }

## Job [/user/{id}]

The `Job` resource has the following attributes

- `id` ...TBD

+ Model
    
    HAL+JSON representation of the platform

    + Body
    
            {"job":{"command":["add"],
            "username":["bobsmith"],
            "password":["p455w0rd"],
            "contact_name":["Bob Smith"],
            "contact_email":["bob@smith.com"],
            "contact_telephone":["020 7987 6900"],
            "contact_url":["www.smith.com"],
            "days_to_advertise":["7"],
            "application_email":["bob.12345.123@smith.aplitrak.com"],
            "application_url":["http://www.url.com/ad.asp?adid=12345123"],
            "job_reference":["abc123"],
            "job_title":"Test Engineer 1390429894480",
            "job_type":["Contract"],
            "job_duration":["6 Months"],
            "job_startdate":["ASAP"],
            "job_skills":["VB, C++, PERL, Java"],
            "job_description":["This is the detailed description"],
            "job_location":["London"],
            "job_industry":["Marketing"],
            "salary_currency":["gbp"],
            "salary_from":["25000"],
            "salary_to":["30000"],
            "salary_per":["annum"],
            "salary_benefits":["Bonus and Pension"],
            "salary":["£25000 - £30000 per annum + Bonus and Pension"],
            "_id":"8sAHXJnbfDhLynqqn"}
            }

### Get Job [GET]

+ Parameters
    + id (string, required) ... The id of the `Job` to retrieve (MongoDB document _id)

+ Response 200 (application/hal+json)

    [Job][]
    
+ Response 401

+ Response 403

### Delete Job [DELETE]

+ Parameters
    + id (string, required) ... The id of the `Job` to retrieve (MongoDB document _id)

           
+ Response 200 (application/hal+json)

    [Job][]
    
+ Response 401

+ Response 403

