<template name="createJob">
  <h2>Create Job</h2>
  {{#isolate}}
  {{#autoForm schema=jobsCollection id="insertJobForm"}}
  <div class="row">
    <div class="col-md-6 collapse-group">
      <div class="collapse" id="viewdetails">
        {{afQuickField 'command' value='add' readonly="readonly"}}
        {{afQuickField 'username' value='broadbean2014' readonly="readonly"}}
        {{afQuickField 'password' value='Ragbax94' readonly="readonly"}}
        {{afQuickField 'contact_name' value='Susan Stratton'}}
        {{afQuickField 'contact_email' value='hr@exertismicro-p.co.uk'}}
        {{afQuickField 'contact_telephone' value='01256 776 776'}}
        {{afQuickField 'contact_url' value='http://www.exertiscareers.co.uk'}}      
      </div>
      <a class="btn" data-toggle="collapse" data-target="#viewdetails">View/Hide basic details &raquo;</a>
    </div>

    <div class="col-md-6">
      {{afQuickField 'job_reference' autofocus=''}}      
      {{afQuickField 'job_title' autocomplete="on"}}      
     
      {{afQuickField 'job_type' options="allowed"}}
      {{afQuickField 'job_duration'}}
      {{afQuickField 'job_startdate'}}
      {{afQuickField 'job_skills' placeholder="e.g. PHP, Excel, Oracle (short acronyms only!)"}}      
      {{afQuickField 'job_location' options="allowed"}}   
      {{afQuickField 'job_industry' autocomplete="on"}}   
    </div>
  </div>
  <div class="row">
    
    {{> editor}}
  </div>
  
  
  <div class="row">
    <div class="col-md-6">
      
      {{afQuickField 'salary_currency' value='gbp'}}
       {{afQuickField 'salary_from'}}
       {{afQuickField 'salary_to'}}
       {{afQuickField 'salary_per' options="allowed"}}
       {{afQuickField 'salary_benefits' autocomplete="on"}}
      {{afQuickField 'salary' }}
      
      
    </div>
    <div class="col-md-6">
      {{afQuickField 'days_to_advertise' value='30'}}
      {{afQuickField 'application_email' value='bob.12345.123@smith.aplitrak.com'}}
      {{afQuickField 'exertis_company' options="allowed"}}
      {{afQuickField "featured" radio="false" trueLabel="Yes" falseLabel="No"}}
      
    </div>
  </div>
      
  {{> buttonsInsert}}
{{/autoForm}}
{{/isolate}}
  
</template>


<template name="buttonsInsert">
 
  <button type="submit" class="btn btn-primary insert">Insert</button>

  <button type="reset" class="btn btn-default">Reset</button>
</template>


<template name="editor">
    <div id="description">
        <button type="button" class="btn btn-primary btn-xs" id="edit-btn" style="float: right; display: none;" title="Edit mode"><i class="fa fa-edit" id="edit-btn-icon"></i></button>
        <button type="button" class="btn btn-primary btn-xs" id="preview-btn" style="float: right;" title="Preview mode"><i class="fa fa-eye" id="preview-btn-icon"></i></button>
        {{#constant}}
        <div class='wmd-panel'>
            <div class="wmd-button-bar" id="wmd-button-bar"></div>
            <div class="wmd-preview" id="wmd-preview" tabindex="4" style="display: none;">
            </div>
            <!-- <textarea class='wmd-input' id="wmd-input"></textarea> -->
           {{afQuickField "job_description" rows="15" placeholder="schemaLabel" class='wmd-input' id="wmd-input"}}
           <div class="alert alert-info">
             Tips:<br>
             <ul>
               <li>Use 'Markdown' to format your Job Description - see <a href="http://www.codecademy.com/courses/web-intermediate-en-Bw3bg/0/1">this online Markdown course</a> or <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">this cheatsheet</a></li>
               <li>Do NOT paste from MS Word!</li>
             </ul>
        </div>
        {{/constant}}
    </div>
</template>


