<template name="jobsList">
	<div class="well">
		<form role="form">
		<input type="search" id="searchfor" class="form-control" placeholder="Search by Job Title..."/>
		</form>
	</div>
	<div class="well">
		There are {{numJobs}} positions available 
	</div>
	<div class="panel">
		{{#if areJobs}}
		{{#each jobs}}
		{{> jobItem}}
		{{/each}}
		{{else}}
		Sorry, no matching jobs
		{{/if}}
	</div>
	{{#if hasMoreJobs}}
	<div class="well">
      <a class="load-more" href="{{nextPath}}">Load more</a>
      </div>
    {{/if}}
</template>