<template name="jobsList">
	<div class="row">
		<div class="col-md-12 panel">
		
			<form role="form" class="col-md-8">
				<input type="search" id="searchfor" class="form-control" placeholder="Search by Job Title..."/>
			</form>
		
		<div class="col-md-4">
			There are {{numJobs}} positions available.<br>
			{{numMatchingJobs}} match your search.			
		</div>
		</div>
	</div>
	<div class="panel">
		{{#if areJobs}}
		{{#each jobs}}
		{{> jobItem}}
		{{/each}}
		{{else}}
		Sorry, no matching jobs
		{{/if}}
	</div>
	{{#if hasMoreJobs}}
	<div class="well">
      <a class="load-more" href="{{nextPath}}">Load more</a>
      </div>
    {{/if}}
</template>